@model MartinsExquizite.Web.ViewModels.ProjectListingVm

@if (Model != null && Model.Projects != null && Model.Projects.Count > 0)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Summary
                </th>
                @*<th>
                    Price
                </th>*@
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @if (project.isFeatured)
                    {
                        <i class="text-warning fas fa-star m1" title="featured Project"></i>
                    }
                    @project.Name
                </td>
                <td>
                    @project.Category.Name
                </td>
                <td>
                    @project.Summary
                </td>
                <td>
                    <div class="btn-group" role="group" arial-label="Basic example">
                        <a href="@Url.EditAction("Projects",project.Id)" class="btn btn-primary">
                            <i class="fas fa-edit mr-1"></i> Edit
                        </a>
                        <button class="deleteButton btn btn-danger" data-id="@project.Id">
                            <i class="fas fa-trash-alt mr-1"></i> Delete
                        </button>
                    </div>
                </td>
            </tr>
        }

    </table>

    if(Model.Pager!=null && Model.Pager.TotalPages>1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                if (Model.Pager.CurrentPage == 1)
                {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                }
                else
                {
                <li class="page-item">
                    <a class="page-link" href="@Url.Projects(Model.SearchTerm, Model.Pager.CurrentPage - 1, Model.CategoryId)">Previous</a>
                </li>
                }

                @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                {
                    var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                    <li class="page-item @active">
                        <a class="page-link" href="@Url.Projects(Model.SearchTerm, page, Model.CategoryId)">
                            @page
                        </a>
                    </li>
                }

                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Projects(Model.SearchTerm, Model.Pager.CurrentPage + 1, Model.CategoryId)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
}



