<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Martins Exquisite</title>
    @RenderSection("meta",false)

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Constro - Construction Business HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link href="~/content/css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/content/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/content/css/general.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/skins/skin-lightgreen.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
    <header id="header" class="clean">
        <div class="topbar dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="topbar-left text-left">
                            <ul class="list-inline">
                                <li> <i class="fa fa-envelope-o"> </i> support@website.com</li>
                                <li> <i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="topbar-right text-right">
                            <ul class="list-inline">
                                <li> <i class="fa fa-phone"></i> (007) 123 456 7890</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=================================
         mega menu -->

        <div class="menu">
            <!-- menu start -->
            <nav id="menu" class="mega-menu">
                <!-- menu list items container -->
                <section class="menu-list-items">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <!-- menu logo -->
                                <ul class="menu-logo">
                                    <li><a href="index-default.html"><img id="logo_dark_img" src="~/content/images/logo-dark.png" alt="logo"></a></li>
                                </ul>
                                <!-- menu links -->
                                <ul class="menu-links">
                                    <!-- active class -->
                                    <li class="active">
                                        <a href="#"> Home <i class="fa fa-indicator"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> services <i class="fa fa-indicator"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> Pages <i class="fa fa-indicator"></i></a>
                                        <!-- drop down full width -->
                                    </li>
                                    <li>
                                        <a href="#"> Blog <i class="fa fa-indicator"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">Portfolio <i class="fa fa-indicator"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> Contact <i class="fa fa-indicator"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
            <!-- menu end -->
        </div>
    </header>

    @RenderBody()

    <footer class="footer dark-bg page-section-pt">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-30">
                    <div class="section-title"><h4 class="title">About Us</h4></div>
                    <div class="footer-about">
                        <p>Construction Project Management (CPM) is the overall planning, coordination, and control of a project from beginning to completion. CPM is aimed at meeting a client's requirement in order to produce a functionally and financially viable project.</p>
                        <div class="social-icons social-white border color-hover mt-20">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="social-behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-usefull">
                        <div class="section-title"><h4 class="title">Usefull Links</h4></div>
                        <ul class="list-mark list-3">
                            <li><a href="about-1.html">About</a></li>
                            <li><a href="team-1.html">Team</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                        </ul>
                        <ul class="list-mark list-3">
                            <li><a href="services-1.html">Services</a></li>
                            <li><a href="portfolio-3-columns.html">Portfolio</a></li>
                            <li><a href="faqs-1.html">Faqs</a></li>
                        </ul>
                        <ul class="list-mark list-3">
                            <li><a href="contact-1.html">Contact Us</a></li>
                            <li><a href="terms-conditions.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="top-info clean mt clearfix">
                        <div class="address-block rounded">
                            <i class="glyph-icon flaticon-construction-5"></i>
                            <h3 class="title">Location :</h3>
                            <span>Head office Belgrade Ldo St,<br>United States</span>
                        </div>
                        <div class="address-block rounded">
                            <i class="glyph-icon flaticon-technology-2"></i>
                            <h3 class="title">Phone :</h3>
                            <span>+(000) 123 456 7890</span>
                            <span>+(111) 000 123 456</span>
                        </div>
                        <div class="address-block rounded">
                            <i class="glyph-icon flaticon-email"></i>
                            <h3 class="title">Mail :</h3>
                            <a href="#">mail@belgradetraining.com</a>
                            <a href="#">info@belgradetraining.com</a>
                        </div>
                        <div class="address-block rounded">
                            <i class="glyph-icon flaticon-fax"></i>
                            <h3 class="title">Fax :</h3>
                            <span>+(000) 123 456 7890</span>
                            <span>+(111) 000 123 456</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="text-white"> &copy;Copyright <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Constro </a> All Rights Reserved </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul class="text-right">
                            <li><a href="terms-conditions.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="contact-1.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!--=================================
    footer -->
    <!--=================================
    Back to Top -->
    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-chevron-up"></i></a></div>

    <!--=================================
     jquery -->
    <!-- jquery  -->
    <script type="text/javascript" src="~/content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/content/js/mega-menu/mega_menu.js"></script>
    <script type="text/javascript" src="~/content/js/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/content/js/counter/jquery.countTo.js"></script>

    <script type="text/javascript" src="~/content/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/content/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="~/content/js/custom.js"></script>

    <!-- END REVOLUTION SLIDER -->
    <script type="text/javascript">
        (function ($) {
            "use strict";

            var tpj = jQuery;
            var revapi13;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_13_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_13_1");
                } else {
                    revapi13 = tpj("#rev_slider_13_1").show().revolution({
                        sliderType: "standard",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 0
                                }
                            }
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1920,
                        gridheight: 900,
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "enterpoint",
                            speed: 400,
                            levels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 55],
                            type: "mouse",
                        },
                        shadow: 0,
                        spinner: "spinner3",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }
            });
        })(jQuery);
    </script>

</body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</html>
