@model IEnumerable<MartinsExquizite.Web.ViewModels.CategoriesListingVm>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchTerm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchTerm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
